/* styles.css */

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
}

h1, h2 {
    color: darkblue;
    margin-bottom: 15px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.evenrow {
    background-color: lightgray;
}

.banner-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1em;
    margin-top: 20px;
}

/* Navigation style for both desktop and mobile */
nav {
    margin-bottom: 20px;
    font-size: 1.1em;
}

nav a {
    text-decoration: none;
    color: darkblue;
}

nav a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    nav span {
        display: none; /* Hide pipe character on smaller screens */
    }
}
